{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
    <div class="card">
        <div class="card-body">
            <h5 class="mt-0 header-title">
                {{ 'password_reset.block_title'|trans }}
                <span class="triangle-border-left pull-left"></span>
                <span class="triangle-border-right pull-right"></span>
            </h5>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <div class="form-group mt-2">
                <button class="btn btn-uyblue">
                    {{ 'password_reset.btn_modify'|trans }}
                </button>
            </div>
            {{ form_end(form) }}
            <div class="alert alert-link alert-info">
                <i class="fa fa-info-circle"></i>
                {{ 'password_reset.alert_warning'|trans }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block title %}
    {{ 'password_reset.title'|trans({},'messages',app.session.get('_locale')) }}
{% endblock %}

