<!-- Delete Modal -->
<div class="modal fade saleDebtmodal" id="salesDebtModal{{customer.id}}"
     tabindex="-1" role="dialog"
     aria-labelledby="salesDebtModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    {{ 'customer.index.salesModal.title'|trans({},'messages',app.session.get('_locale')) }}
                </h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                <table class="table table-striped" style="width: 100%;" id="dataTable2">
                    <thead class="font-weight-bold">
                    <th class="not-sort">
                        {{ 'customer.index.salesModal.tr_sale'|trans({},'messages',app.session.get('_locale')) }}
                    </th>
                    <th class="not-sort">
                        {{ 'customer.index.salesModal.tr_date'|trans({},'messages',app.session.get('_locale')) }}
                    </th>
                    <th>
                        {{ 'customer.index.salesModal.tr_paymentMethod'|trans({},'messages',app.session.get('_locale')) }}
                    </th>
                    <th>
                        {{ 'customer.index.salesModal.tr_amount_toPay'|trans({},'messages',app.session.get('_locale')) }}
                    </th>
                    </thead>
                    <tbody>
                    {% for sale in customer.saleNotSettled %}
                        <tr>
                            <td>
                                <a href="{{ path('sale_detail',{id:sale.id}) }}">
                                    {{ sale.code }}
                                </a>
                            </td>
                            <td>{{ sale.addDate|longDate }}</td>
                            <td>
                                {% if sale.paymentMethod %}
                                    {{ sale.paymentMethod.name }}
                                {% else %}
                                    /
                                {% endif %}
                            </td>
                            <td>{{ sale.amountDebt|formated }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    {% if customer.amountDebt > 0 %}
                        <tfoot>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <span class="font-weight-bold text-info">
                                    {{ customer.amountDebt|customCurrency }}
                                </span>
                            </td>
                        </tr>
                        </tfoot>
                    {% endif %}
                </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                    {{ 'cancel'|trans({},'messages',app.session.get('_locale')) }}
                </button>
            </div>
        </div>
    </div>
</div>
