{% extends 'base.html.twig' %}

{% block title %}{{ 'supplier.edit.title'|trans({},'messages',app.session.get('_locale')) }}{% endblock %}

{% block body %}
    <div class="col-md-8 offset-md-2 col-xl-8 offset-xl-2">
        <div class="card">
            <div class="card-body">
                <h5 class="mt-0 header-title">
                    {{ 'supplier.edit.block_title'|trans }}
                    <span class="triangle-border-left pull-left"></span>
                    <span class="triangle-border-right pull-right"></span>
                </h5>
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="form-group mt-2">
                    <button class="btn btn-uyblue">
                        <i class="fa fa-edit"></i> &nbsp; {{ 'supplier.edit.btn_add'|trans }}
                    </button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
