<!DOCTYPE html>
<html lang="{{ app.session.get('_locale') }}">
<head>
    <title>{{ 'report.fileSale.title'|trans({},'messages',app.session.get('_locale')) }}</title>
    <style type="text/css" rel="stylesheet" media="screen">
        {% include 'pdf/css.html.twig' %}
    </style>
</head>
<body>
{% set setting = app.session.get('setting') %}
<div class="container-fluid" style="font-size: {{ setting.reportFontSize }}">
    <div class="row title mx-2">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 border-dark py-2
        rounded text-center">
            {% if store.imageName %}
                <img id="logo" class="rounded"
                     src="{{ storeImage }}{{ store.imageName }}"
                     alt="{{store.name}}" style="height: 100px"><br>
            {% else %}
                <img id="logo" class="rounded" src="{{ appLogo }}"
                     alt="" style="height: 100px"><br>
            {% endif %}
            <b>{{ store.name }}</b><br>
            {% if store.phoneNumber is not empty %}
                {{ 'report.phone'|trans({},'messages',app.session.get('_locale')) }}: {{ store.phoneNumber }}
            {% endif %}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 text-right">
            {{ 'report.doThe'|trans({},'messages',app.session.get('_locale')) }} {{ "now"|mediumDate }} <br>
            {{ 'report.agent'|trans({},'messages',app.session.get('_locale')) }}:
            <span class="text-uppercase font-weight-bold">{{ app.user.name }}</span>
        </div>
    </div>
    <div class="row mt-5 mb-2">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
            <span class="h6 text-uppercase">
                {{ 'report.reportSession'|trans({},'messages',app.session.get('_locale')) }} /
                <i>
                    {{ 'report.fileSale.encashmentList'|trans({},'messages',app.session.get('_locale')) }}
                    <b class="text-uppercase">{{ employee.name }}</b>
                </i>
            </span>
        </div>
    </div>
    <div class="row my-4 mx-2 text-uppercase">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center py-2"
             style="border-top: #0a0c0d solid 2px;border-bottom: #0a0c0d solid 2px" >
                <span class="font-weight-bold">
                    {{ start|mediumDate }} - {{ end|mediumDate }}
                </span>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <table class="table table-bordered">
                <tr style="font-weight: bold">
                    <td class="td-border">{{ 'report.fileSale.tr_date'|trans({},'messages',app.session.get('_locale')) }}</td>
                    <td class="td-border">{{ 'report.fileSale.tr_initialBalance'|trans({},'messages',app.session.get('_locale'))}}</td>
                    <td class="td-border">{{ 'report.fileSale.tr_credits'|trans({},'messages',app.session.get('_locale')) }}</td>
                    <td class="td-border">{{ 'report.fileSale.tr_totalToDeposit'|trans({},'messages',app.session.get('_locale'))}}</td>
                    <td class="td-border">{{ 'report.fileSale.tr_amountReceived'|trans({},'messages',app.session.get('_locale')) }}</td>
                    <td class="td-border">{{ 'report.fileSale.tr_gap'|trans({},'messages',app.session.get('_locale')) }}</td>
                </tr>
                {% for encashment in encashments %}
                    <tr>
                        <td class="td-border-left td-border-bottom">
                            {{ encashment.date|mediumDate }}
                        </td>
                        <td class="td-border-left td-border-bottom">
                            {{ encashment.initialBalance |formated }}</td>
                        <td class="td-border-left td-border-bottom">{{ encashment.totalCredits|formated }}</td>
                        <td class="td-border-left td-border-bottom">{{ encashment.totalToDeposit|formated }}</td>
                        <td class="td-border-left td-border-bottom">{{ encashment.amountReceived|formated }}</td>
                        <td class="td-border-left td-border-bottom"
                            style="border-right: black solid 2px">{{ encashment.totalGap|formated }}</td>
                    </tr>
                {% endfor %}
                <tr style="font-weight: bold">
                    <td class="td-border-left td-border-bottom">

                    </td>
                    <td class="td-border-left td-border-bottom"></td>
                    <td class="td-border-left td-border-bottom"></td>
                    <td class="td-border-left td-border-bottom"></td>
                    <td class="td-border-left td-border-bottom">
                        {{ 'report.fileSale.tr_totalPositive'|trans({},'messages',app.session.get('_locale')) }}
                    </td>
                    <td class="td-border-left td-border-bottom"
                        style="border-right: black solid 2px">{{ totalPositive|formated }}</td>
                </tr>
                <tr style="font-weight: bold">
                    <td class="td-border-left td-border-bottom">

                    </td>
                    <td class="td-border-left td-border-bottom"></td>
                    <td class="td-border-left td-border-bottom"></td>
                    <td class="td-border-left td-border-bottom"></td>
                    <td class="td-border-left td-border-bottom">
                        {{ 'report.fileSale.tr_totalNegative'|trans({},'messages',app.session.get('_locale')) }}
                    </td>
                    <td class="td-border-left td-border-bottom"
                        style="border-right: black solid 2px">{{ totalNegative|formated }}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
</body>
</html>
