<!DOCTYPE html>
<html lang="{{ app.session.get('_locale') }}">
<head>
    <title>{{ 'report.productStockReturn.title'|trans({},'messages',app.session.get('_locale')) }}</title>
    <style type="text/css" rel="stylesheet" media="screen">
        {% include 'pdf/css.html.twig' %}
    </style>
</head>
<body>
{% set setting = app.session.get('setting') %}
<div class="container-fluid" style="font-size: {{ setting.reportFontSize }}">
    <div class="row title mx-2">
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 border-dark py-2
        rounded text-center">
            {% if store.imageName %}
                <img id="logo" class="rounded"
                     src="{{ storeImage }}{{ store.imageName }}"
                     alt="{{store.name}}" style="height: 100px"><br>
            {% else %}
                <img id="logo" class="rounded" src="{{ appLogo }}"
                     alt="" style="height: 100px"><br>
            {% endif %}
            <b>{{ store.name }}</b><br>
            {% if store.phoneNumber is not empty %}
                {{ 'report.phone'|trans({},'messages',app.session.get('_locale')) }}: {{ store.phoneNumber }}
            {% endif %}
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4 text-right">
            {{ 'report.doThe'|trans({},'messages',app.session.get('_locale')) }} {{ "now"|mediumDate }} <br>
            {{ 'report.agent'|trans({},'messages',app.session.get('_locale')) }}:
            <span class="text-uppercase font-weight-bold">{{ app.user.name }}</span>
        </div>
    </div>
    <div class="row mt-5 mb-2">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center">
            <span class="h6 text-uppercase">
                {{ 'report.reportSession'|trans({},'messages',app.session.get('_locale')) }} /
                <i>{{ 'report.productStockReturn.productList'|trans({},'messages',app.session.get('_locale')) }}</i>
            </span>
        </div>
    </div>
    <div class="row my-4 mx-2 text-uppercase">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 text-center py-2"
             style="border-top: #0a0c0d solid 2px;border-bottom: #0a0c0d solid 2px" >
                <span class="font-weight-bold">
                    {{ start|mediumDate }} - {{ end|mediumDate }}
                </span>
        </div>
    </div>
    <div class="row mx-0">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
            <table class="table table-bordered">
                <tr style="font-weight: bold">
                    {% if setting.withBarcode  %}
                        <td class="td-border">{{ 'report.productStockReturn.tr_barcode'|trans({},'messages',app.session.get('_locale')) }}</td>
                    {% endif %}
                    <td class="td-border">{{ 'report.productStockReturn.tr_name'|trans({},'messages',app.session.get('_locale')) }}</td>
                    <td class="td-border">{{ 'report.productStockReturn.tr_qtyReturn'|trans({},'messages',app.session.get('_locale'))}}</td>
                    <td class="td-border">
                        {{ 'report.productStockReturn.tr_amount'|trans({},'messages',app.session.get('_locale')) }}
                    </td>
                    <td class="td-border">{{ 'report.productStockReturn.tr_amount_repay'|trans({},'messages',app.session.get('_locale')) }}</td>
                </tr>
                {% for product in products %}
                    <tr>
                        {% if setting.withBarcode  %}
                            <td class="td-border-left td-border-bottom">{{ product[0].qrCode }}</td>
                        {% endif %}
                        <td class="td-border-left td-border-bottom">{{ product[0].name }}</td>
                        <td class="td-border-left td-border-bottom">{{ product.qtyReturn|formatedInt }}</td>
                        <td class="td-border-left td-border-bottom">{{ product.amount|formated }}</td>
                        <td class="td-border-left td-border-bottom"
                            style="border-right: black solid 2px">{{ product.amountRepay|formated }}</td>
                    </tr>
                {% endfor %}
                {% if products|length > 0 %}
                <tr style="font-weight: bold">
                    {% if setting.withBarcode  %}
                        <td class="td-border-left td-border-bottom"></td>
                    {% endif %}
                    <td class="td-border-left td-border-bottom"></td>
                    <td class="td-border-left td-border-bottom">{{ totalQtyReturn|formatedInt }}</td>
                    <td class="td-border-left td-border-bottom">{{ totalAmount|formated }}</td>
                    <td class="td-border-left td-border-bottom"
                        style="border-right: black solid 2px">{{ totalAmountRepay|formated }}</td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
</body>
</html>
