{% extends 'base.html.twig' %}

{% block title %}{{ 'paymentMethod.index.title'|trans({},'messages',app.session.get('_locale')) }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/responsive.bootstrap4.min.css') }}">
{% endblock %}

{% block javascripts %}
    {%  include 'partials/jsTable.html.twig' %}
    <script src="{{ asset('dist/js/datatable/sb-datatables-nobutton-'~app.session.get('_locale')~'.js') }}"></script>

    <script type="text/javascript">
        getDataTable($('#dataTable'));
        $('#dataTable tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('selected bg-light');
        } );
    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="mt-0 header-title">
                        {{ 'paymentMethod.index.block_title'|trans }} ({{ paymentMethods|length|formatedInt }})
                        <span class="triangle-border-left pull-left"></span>
                        <span class="triangle-border-right pull-right ml-3"></span>
                        {% if is_granted(permission_verify,'PAYMENT_METHOD_NEW') %}
                            <span class="pull-right">
                                <a class="btn btn-outline-uyblue" href="{{ path('payment_method_new') }}">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </span>
                        {% endif %}
                    </h5>
                    <div class="table-responsive">
                        <table class="table" style="width: 100%;" id="dataTable">
                            <thead>
                            <tr>
                                <th>{{ 'paymentMethod.index.tr_name'|trans }}</th>
                                <th>{{ 'paymentMethod.index.tr_status'|trans }}</th>
                                <th class="not-export not-sort">{{ 'paymentMethod.index.tr_actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for paymentMethod in paymentMethods %}
                                <tr>
                                    <td class="text-capitalize">
                                        {{ paymentMethod.name }}
                                    </td>
                                    <td>
                                        {% if is_granted(permission_verify,'PAYMENT_METHOD_STATUS') %}
                                            {% if paymentMethod.status  %}
                                                <a href="{{ path('payment_method_status',{id: paymentMethod.id}) }}" class="badge badge-success">
                                                    <i class="ti-check"></i> {{ 'paymentMethod.index.tr_active'|trans }}
                                                </a>
                                            {% else %}
                                                <a href="{{ path('payment_method_status',{id: paymentMethod.id}) }}" class="badge badge-danger">
                                                    <i class="ti-close"></i> {{ 'paymentMethod.index.tr_inactive'|trans }}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if is_granted(permission_verify,'PAYMENT_METHOD_EDIT') %}
                                            <a href="{{ path('payment_method_edit',{'id': paymentMethod.id}) }}"
                                               class="p-2 badge badge-uyblue">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        {% endif %}
                                        {% if is_granted(permission_verify,'PAYMENT_METHOD_DELETE') %}
                                            <a href="#deleteModal{{paymentMethod.id}}" data-toggle="modal" class="p-2 badge badge-danger">
                                                <i class="fa fa-remove"></i>
                                            </a>
                                            <!-- Delete Modal -->
                                            <div class="modal fade" id="deleteModal{{paymentMethod.id}}" tabindex="-1" role="dialog"
                                                 aria-labelledby="deleteModalLabel" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">{{ 'paymentMethod.index.modal.title'|trans }}</h5>
                                                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">×</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {{ 'paymentMethod.index.modal.body'|trans }}
                                                            <span class="text-info">{{ paymentMethod.name }}</span>?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                                                {{ 'cancel'|trans }}
                                                            </button>
                                                            <a class="btn btn-danger" href="{{path('payment_method_delete',{'id':paymentMethod.id})}}">
                                                                <i class="fa fa-trash"></i> {{ 'delete'|trans }}
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
