{% extends 'base.html.twig' %}

{% block title %}{{ 'employee.attendance.title'|trans({},'messages',app.session.get('_locale')) }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}">
{% endblock %}
{% block javascripts %}
    {%  include 'partials/jsTable.html.twig' %}
    <script src="{{ asset('dist/js/datatable/sb-datatables-'~app.session.get('_locale')~'.js') }}"></script>

    <script src="{{ asset('dist/js/dateJs.js') }}"></script>
    <script src="{{ asset('dist/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/bootstrap-datepicker/js/i18n/'~app.session.get('_locale')~'.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.datepicker').on('focus', function (e) {
                e.preventDefault();
                $(this).attr("autocomplete", "off");
            });
            const date = dayjs(new Date()).format("{{ app.session.get('setting').mediumDateJs }}");
            $('.datepicker').datepicker({
                format: '{{ app.session.get('setting').dateMediumPicker }}',
                autoclose: true,
                calendarWeeks: true,
                endDate: date,
                clearBtn: false,
                disableTouchKeyboard: true,
                language: "{{ app.session.get('_locale') }}"
            });
            getDataTable($('#dataTable'));
        });
    </script>


{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="mt-0 header-title">
                <span class="mx-2">
                   <a class="btn btn-light" href="{{ path('employee_attendance') }}">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                </span>
                {{ 'employee.attendance.block_title'|trans }}
                <span class="triangle-border-left pull-left"></span>
                <span class="triangle-border-right pull-right ml-3"></span>
                {% if is_granted(permission_verify,'EMPLOYEE_ATTENDANCE_ADD') %}
                    <span class="pull-right">
                        <a class="btn btn-outline-uyblue"
                           href="#addAttendanceModal"
                           data-toggle="modal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </span>
                {% endif %}
            </h5>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="user-details">
                            <div class="text-center">
                                {% if employee.imageName is not empty %}
                                    <img src="{{ asset(userPhoto)~employee.imageName }}"
                                         alt="{{employee.allName}}" class="avatar-img rounded-circle">
                                {% else %}
                                    <div class="avatar">
                                        <span class="avatar-text avatar-text-indigo rounded-circle">
                                            <span class="initial-wrap">
                                                <span>{{employee.initials}}</span>
                                            </span>
                                        </span>
                                    </div>
                                {% endif %}
                            </div>
                            </div>
                            <div class="mb-2">
                                <table class="table table-striped text-center">
                                    {% if employee.allName is not empty %}
                                        <tr>
                                            <td>{{ 'employee.attendance.tr_name'|trans }}</td>
                                            <td>{{ employee.allName }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if employee.email is not empty %}
                                        <tr>
                                            <td>{{ 'employee.attendance.tr_email'|trans}}</td>
                                            <td>{{ employee.email }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if employee.gender is not empty %}
                                        <tr>
                                            <td>{{ 'employee.attendance.tr_gender'|trans }}</td>
                                            <td>{{ employee.gender }}</td>
                                        </tr>
                                    {% endif %}
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <span class="triangle-border-left-simple pull-left
                                            text-success">
                                        </span>
                                        <div class="card-body text-capitalize">
                                            {{ 'present'|trans }}:
                                            <span class="font-weight-bold text-success">
                                                {{ presentCount|formatedInt }}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card cursor"
                                         onclick="document.getElementById('formAbsent').submit()">
                                        <span class="triangle-border-left-simple pull-left
                                            text-danger">
                                        </span>
                                        <div class="card-body text-capitalize">
                                            {{ 'absent'|trans }}:
                                            <span class="font-weight-bold text-danger">
                                                {{ absentCount|formatedInt }}
                                            </span>
                                            <form action="{{ path('employee_attendance_index',{id:employee.id}) }}"
                                                  id="formAbsent" method="post">
                                                <input type="hidden" name="month"
                                                       value="{{ monthNow }}">
                                                <input type="hidden" name="year"
                                                       value="{{ year }}">
                                                <input type="hidden" name="statut"
                                                       value="A">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card cursor"
                                         onclick="document.getElementById('formLate').submit()">
                                        <span class="triangle-border-left-simple pull-left
                                            text-warning">
                                        </span>
                                        <div class="card-body text-capitalize">
                                            {{ 'late'|trans }}:
                                            <span class="font-weight-bold text-warning">
                                                {{ lateCount|formatedInt }}
                                            </span>
                                            <form action="{{ path('employee_attendance_index',{id:employee.id}) }}"
                                                  id="formLate" method="post">
                                                <input type="hidden" name="month"
                                                       value="{{ monthNow }}">
                                                <input type="hidden" name="year"
                                                       value="{{ year }}">
                                                <input type="hidden" name="statut"
                                                       value="LA">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card cursor"
                                         onclick="document.getElementById('formHoliday').submit()">
                                        <span class="triangle-border-left-simple pull-left
                                            text-info">
                                        </span>
                                        <div class="card-body text-capitalize">
                                            {{ 'holiday'|trans }}:
                                            <span class="font-weight-bold text-info">
                                                {{ holidayCount|formatedInt }}
                                            </span>
                                            <form action="{{ path('employee_attendance_index',{id:employee.id}) }}"
                                                  id="formHoliday" method="post">
                                                <input type="hidden" name="month"
                                                       value="{{ monthNow }}">
                                                <input type="hidden" name="year"
                                                       value="{{ year }}">
                                                <input type="hidden" name="statut"
                                                       value="H">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card cursor"
                                         onclick="document.getElementById('formLeave').submit()">
                                        <span class="triangle-border-left-simple pull-left
                                            text-primary">
                                        </span>
                                        <div class="card-body text-capitalize">
                                            {{ 'leave'|trans }}:
                                            <span class="font-weight-bold text-primary">
                                                {{ leaveCount|formatedInt }}
                                            </span>

                                            <form action="{{ path('employee_attendance_index',{id:employee.id}) }}"
                                                  id="formLeave" method="post">
                                                <input type="hidden" name="month"
                                                       value="{{ monthNow }}">
                                                <input type="hidden" name="year"
                                                       value="{{ year }}">
                                                <input type="hidden" name="statut"
                                                       value="LE">
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <form action="{{ path('employee_attendance_index',{id:employee.id}) }}" method="post"
                                  class="form-inline float-right">
                                <select name="month" id="month"
                                        class="form-control mr-2 mb-1">
                                    {% for key,month in months %}
                                        <option value="{{ key }}" {% if key == monthNow %}selected{% endif %}>
                                            {{month|trans({},'month')}}
                                        </option>
                                    {% endfor %}
                                </select>
                                <input type="number" class="form-control mr-2 mb-1"
                                       name="year" value="{{ year }}">
                                <select name="statut" id="statut" class="form-control mr-2 mb-1">
                                    {% for value,key in statusConstant %}
                                        <option value="{{ key }}" {% if key == statusSelected %}selected{% endif %}>
                                            {{value|trans}}
                                        </option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-outline-uyblue" >
                                    <i class="fa fa-search"></i> {{ 'performance.performanceStore.form.btn_search'|trans }}
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="not-sort">{{ 'employee.attendance.tr_date'|trans }}</th>
                                <th class="not-sort">{{ 'employee.attendance.tr_status'|trans }}</th>
                                <th class="not-sort">{{ 'employee.attendance.tr_actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for attendance in attendances %}
                                <tr>
                                    <td>{{attendance.date|mediumDate}}</td>
                                    <td class="text-capitalize">
                                        <span class="{{ statusAlert[1] }}">
                                            {{ statusAlert[0]|trans }}
                                        </span>
                                    </td>
                                    <td>
                                        {% if is_granted(permission_verify,'EMPLOYEE_ATTENDANCE_DELETE') %}
                                        <a href="{{ path('employee_attendance_delete',{id: attendance.id}) }}"
                                           class="p-2 badge badge-danger">
                                            <i class="fa fa-remove"></i>
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- add attendance Modal -->
    <div class="modal fade" id="addAttendanceModal" tabindex="-1" role="dialog"
         aria-labelledby="addAttendanceModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        {{ 'sale.index.modal.addAttendance.title'|trans }} {{ employee.allName }}
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form action="{{ path('employee_attendance_add') }}" method="post">
                    <input type="hidden" name="employeeId" id="employeeId" value="{{ employee.id }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="date">
                                {{ 'sale.index.modal.addAttendance.form.date'|trans }}
                            </label>
                            <input type="text" class="form-control datepicker" name="date"
                                   id="date" required value="{{ 'now'|mediumDate }}">
                        </div>

                        <div class="form-group">
                            <label for="attendaceStatut">
                                {{ 'sale.index.modal.addAttendance.form.attendanceStatus'|trans }}
                            </label>
                            <select name="statut" id="attendaceStatut" class="form-control">
                                {% for value,key in statusConstant %}
                                    <option value="{{ key }}">
                                        {{value|trans}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">
                            {{ 'cancel'|trans }}
                        </button>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check-circle"></i>
                            {{ 'validate'|trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
