{% extends 'base.html.twig' %}

{% block title %}{{ 'employee.fee.title'|trans({},'messages',app.session.get('_locale')) }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}">
{% endblock %}
{% block javascripts %}
    {%  include 'partials/jsTable.html.twig' %}
    <script src="{{ asset('dist/js/datatable/sb-datatables-nobutton-'~app.session.get('_locale')~'.js') }}"></script>

    <script src="{{ asset('dist/js/dateJs.js') }}"></script>
    <script src="{{ asset('dist/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/bootstrap-datepicker/js/i18n/'~app.session.get('_locale')~'.js') }}"></script>
    <script>
        $(document).ready(function() {
            $('.datepicker').on('focus', function (e) {
                e.preventDefault();
                $(this).attr("autocomplete", "off");
            });
            const date = dayjs(new Date()).format("{{ app.session.get('setting').mediumDateJs }}");
            $('.datepicker').datepicker({
                format: '{{ app.session.get('setting').dateMediumPicker }}',
                autoclose: true,
                calendarWeeks: true,
                endDate: date,
                clearBtn: false,
                disableTouchKeyboard: true,
                language: "{{ app.session.get('_locale') }}"
            });
            $('.datepicker').val(date);
            getDataTable($('#dataTable1'),false,5,'frtp');
            getDataTable($('#dataTable2'),false,5,'frtp');
            getDataTable($('#dataTable3'),false,5,'frtp');
        });
    </script>


{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="mt-0 header-title">

                <span class="mx-2">
                    <a href="#" class="btn btn-light" onclick="document.getElementById('returnIndex').submit()">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                </span>
                {{ 'employee.fee.block_title2'|trans }}
                <span class="triangle-border-left pull-left"></span>
                <span class="triangle-border-right pull-right ml-3"></span>
                {% if is_granted(permission_verify,'EMPLOYEE_FEE_ADD') %}
                    <span class="pull-right">
                        <a class="btn btn-outline-uyblue"
                           href="#addEmployeeFeeModal"
                           data-toggle="modal">
                            <i class="fa fa-plus"></i>
                        </a>
                    </span>
                {% endif %}
            </h5>

            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                {% if employee.imageName is not empty %}
                                    <img src="{{ asset(userPhoto)~employee.imageName }}"
                                         alt="{{employee.allName}}" class="avatar-img rounded-circle">
                                {% else %}
                                    <div class="avatar">
                                        <span class="avatar-text avatar-text-indigo rounded-circle">
                                            <span class="initial-wrap">
                                                <span>{{employee.initials}}</span>
                                            </span>
                                        </span>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="mb-2">
                                <table class="table table-striped text-center">
                                    {% if employee.allName is not empty %}
                                        <tr>
                                            <td>{{ 'employee.fee.tr_name'|trans }}</td>
                                            <td>{{ employee.allName }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if employee.email is not empty %}
                                        <tr>
                                            <td>{{ 'employee.fee.tr_email'|trans}}</td>
                                            <td>{{ employee.email }}</td>
                                        </tr>
                                    {% endif %}
                                    {% if employee.gender is not empty %}
                                        <tr>
                                            <td>{{ 'employee.fee.tr_gender'|trans }}</td>
                                            <td>{{ employee.gender }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td>{{ 'employee.fee.tr_fee'|trans }}</td>
                                        <td class="text-{% if totalDebt > 0 %}danger{% else %}info{% endif %}">
                                            <span class="font-weight-bold">
                                                {{ totalDebt|customCurrency }}
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row mb-3">
                        <div class="col-md-12 text-center">
                            <b>
                                {{ start|mediumDate }} || {{ end|mediumDate }}
                            </b>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            {% if sales is defined %}
                                <tr>
                                    <td>
                                        <b>
                                            {{ 'employee.fee.tr_sales'|trans }}
                                            ({{ sales|length|formatedInt }})
                                        </b>
                                    </td>
                                    <td>
                                        <table class="table table-bordered table-striped" id="dataTable1">
                                            <thead>
                                                <tr class="font-weight-bold">
                                                    <th>
                                                        {{ 'employee.fee.sale.code'|trans }}
                                                    </th>
                                                    <th>
                                                        {{ 'employee.fee.sale.date'|trans }}
                                                    </th>
                                                    <th>
                                                        {{ 'employee.fee.sale.amount'|trans }}
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for sale in sales  %}
                                                <tr>
                                                    <td>
                                                        <a href="{{ path('sale_detail',{id: sale.id}) }}">
                                                            {{ sale.code }}
                                                        </a>
                                                    </td>
                                                    <td>{{ sale.addDate|mediumDate }}</td>
                                                    <td>{{ sale.amount|formated }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if products is defined %}
                                <tr>
                                    <td>
                                        <b>
                                            {{ 'employee.fee.tr_products'|trans }}
                                            ({{ products|length|formatedInt }})
                                        </b>
                                    </td>
                                    <td>
                                        <table class="table table-bordered table-striped" id="dataTable2">
                                            <thead>
                                            <tr class="font-weight-bold">
                                                <th>
                                                    {{ 'employee.fee.product.name'|trans }}
                                                </th>
                                                <th>
                                                    {{ 'employee.fee.product.qtySold'|trans }}
                                                </th>
                                                <th>
                                                    {{ 'employee.fee.product.amount'|trans }}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for product in products  %}
                                                <tr>
                                                    <td>
                                                        <a href="{{ path('product_detail',{id: product[0].id}) }}">
                                                            {{ product[0].name }}
                                                        </a>
                                                    </td>
                                                    <td>{{ product.qtySold|formatedInt }}</td>
                                                    <td>{{ product.amount|formated }}</td>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}
                            {% if fees is defined %}
                                <tr>
                                    <td>
                                        <b>
                                            {{ 'employee.fee.tr_fees'|trans }}
                                            ({{ fees|length|formatedInt }})
                                        </b>
                                    </td>
                                    <td>
                                        <table class="table table-bordered table-striped" id="dataTable3">
                                            <thead class="font-weight-bold">
                                                <tr>
                                                    <th>
                                                        {{ 'employee.fee.fee.name'|trans }}
                                                    </th>
                                                    <th>
                                                        {{ 'employee.fee.fee.amount'|trans }}
                                                    </th>
                                                    <th>{{ 'employee.fee.tr_actions'|trans }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for fee in fees  %}
                                                <tr>
                                                    <td>{{ fee.reason }}</td>
                                                    <td>{{ fee.amount|formated }}</td>
                                                    <td>
                                                        <a href="{{ path('employee_fee_delete',{id: fee.id}) }}"
                                                           class="badge badge-danger p-2">
                                                            <i class="fa fa-minus"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- add salary Modal -->
    <div class="modal fade" id="addEmployeeFeeModal" tabindex="-1" role="dialog"
         aria-labelledby="addEmployeeFeeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">
                        {{ 'sale.index.modal.addEmployeeFee.title'|trans }}
                        <span class="text-uyblue-dark">
                            {{ employee.allName }}
                        </span>
                    </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <form action="{{ path('employee_fee_add') }}" method="post">
                    <input type="hidden" name="employeeId" id="employeeId" value="{{ employee.id }}">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="date">
                                {{ 'sale.index.modal.addEmployeeFee.form.date'|trans }}
                            </label>
                            <input type="text" class="form-control datepicker" name="date"
                                   id="date" required value="{{ 'now'|mediumDate }}">
                        </div>
                        <div class="form-group">
                            <label for="amount">
                                {{ 'sale.index.modal.addEmployeeFee.form.amount'|trans }}
                            </label>
                            <input type="number" class="form-control" name="amount"
                                   id="amount" required value="">
                        </div>
                        <div class="form-group">
                            <label for="reason">
                                {{ 'sale.index.modal.addEmployeeFee.form.reason'|trans }}
                            </label>
                            <textarea name="reason" id="reason" class="form-control"
                                      cols="30" rows="5" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">
                            {{ 'cancel'|trans }}
                        </button>
                        <button type="submit" class="btn btn-success">
                            <i class="fa fa-check-circle"></i>
                            {{ 'validate'|trans }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <form action="{{ path('employee_fee') }}" method="post" id="returnIndex">
        <input type="hidden" name="start" value="{{ start|mediumDate }}">
        <input type="hidden" name="end" value="{{ end|mediumDate }}">
    </form>
{% endblock %}
