<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Uyiela Docs by yvano berthol</title>

    <meta name="description" content="documentation created by yvano berthol">
    <meta name="author" content="yvano berthol">
    <meta name="robots" content="noindex, nofollow">

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('dist/docs/assets/css/pixelcave.docs.min.css')}}">
    <link rel="stylesheet" href="{{ asset('dist/docs/assets/css/icons.css')}}">
</head>
<body>
<!-- Page Container -->
<div id="page-container" class="sidebar-o side-scroll">
    <!-- Sidebar -->
    <nav id="sidebar">
        <!-- Sidebar Content -->
        <div class="sidebar-content">
            <div class="content-side content-side-full pos-relative">
                <!-- Close Sidebar, Visible only on mobile screens -->
                <div class="pos-absolute pos-top-right d-lg-none">
                    <a class="d-inline-block text-danger m-3" href="javascript:void(0)" data-toggle="layout" data-action="sidebar_close">
                        <i class="fa fa-times"></i>
                    </a>
                </div>
                <!-- END Close Sidebar -->

                <!-- Side Header -->
                <div class="mb-3">
                    <h1 class="font-size-lg font-w700 mb-2">
                        Uyiela <a href="">Docs</a>
                    </h1>
                    <div class="font-size-sm font-w600 text-muted">v1.0 - May 2021</div>
                </div>
                <!-- END Side Header -->

                <!-- Side Navigation -->
                <ul class="nav-main">
                    <li class="nav-main-heading">Intro</li>
                    <li class="nav-main-item">
                        <a class="nav-main-link" href="#section-presentation" data-toggle="scroll-to" data-offset="50">
                            <i class="nav-main-link-icon fa fa-home text-muted"></i>
                            <span class="nav-main-link-name">{{ 'docs.documentation.sidebar.presentation'|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-main-item">
                        <a class="nav-main-link" href="#section-installation" data-toggle="scroll-to" data-offset="50">
                            <i class="nav-main-link-icon fa fa-download text-muted"></i>
                            <span class="nav-main-link-name">{{ 'docs.documentation.sidebar.installation'|trans }}</span>
                        </a>
                    </li>
                    <li class="nav-main-heading">Uyiela</li>
                    <li class="nav-main-item">
                        <a class="nav-main-link" href="#section-thankyou" data-toggle="scroll-to" data-offset="50">
                            <i class="nav-main-link-icon fa fa-heart text-danger"></i>
                            <span class="nav-main-link-name">{{ 'docs.documentation.sidebar.thanks'|trans }}</span>
                        </a>
                    </li>
                </ul>
                <!-- END Side Navigation -->
            </div>
        </div>
        <!-- Sidebar Content -->
    </nav>
    <!-- END Sidebar -->

    <!-- Main Container -->
    <main id="main-container">
        <!-- Toggle Sidebar -->
        <div class="pos-fixed pos-ontop-content d-print-none">
            <button type="button" class="btn btn-secondary pos-absolute pos-top-left m-1 m-lg-3" data-toggle="layout" data-action="sidebar_toggle">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- END Toggle Sidebar -->

        <div class="content d-print-none">
            <div class="row text-center">
                <div class="col-12 col-md-12 py-1 invisible text-center" data-toggle="appear" data-class="animated fadeInDown">
                    <a class="item item-danger">
                        <div class="item-icon">
                            <i class="fa fa-google-plus"></i>
                        </div>
                        <div class="item-text">
                            yvanoberthol@gmail.com
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <!-- Page Content -->
        <div class="content">
            <!-- Package -->
            <h2 id="section-presentation">{{ 'docs.documentation.body.presentation.title'|trans }}</h2>
            <p>
                <strong>Uyiela</strong> {{ 'docs.documentation.body.presentation.body'|trans }}:
            <ul>
                <li>
                    <i class="fa fa-angle-right fa-li"></i> <code>{{ 'docs.documentation.body.presentation.step1'|trans }}</code>
                </li>
                <li>
                    <i class="fa fa-angle-right fa-li"></i> <code>{{ 'docs.documentation.body.presentation.step2'|trans }}</code>
                </li>
                <li>
                    <i class="fa fa-angle-right fa-li"></i> <code>{{ 'docs.documentation.body.presentation.step3'|trans }}</code>
                </li>
                <li>
                    <i class="fa fa-angle-right fa-li"></i> <code>{{ 'docs.documentation.body.presentation.step4'|trans }}</code>
                </li>
                <li>
                    <i class="fa fa-angle-right fa-li"></i> <code>{{ 'docs.documentation.body.presentation.step5'|trans }}</code>
                </li>
                <ul>
                    <li>
                        <i class="fa fa-angle-right fa-li"></i> <code>{{ 'docs.documentation.body.presentation.step51'|trans }}</code>
                    </li>
                    <li>
                        <i class="fa fa-angle-right fa-li"></i> <code>{{ 'docs.documentation.body.presentation.step52'|trans }}</code>
                    </li>
                    <li>
                        <i class="fa fa-angle-right fa-li"></i> <code>{{ 'docs.documentation.body.presentation.step53'|trans }}</code>
                    </li>
                </ul>
                <li>
                    <i class="fa fa-angle-right fa-li"></i> <code>{{ 'docs.documentation.body.presentation.step6'|trans }}</code>
                </li>
                <li>
                    <i class="fa fa-angle-right fa-li"></i> <code>{{ 'docs.documentation.body.presentation.step7'|trans }}</code>
                </li>
            </ul>
            </p>

            <h2 id="section-installation">{{ 'docs.documentation.body.installation.title'|trans }}</h2>
            <p>
                {{ 'docs.documentation.body.installation.body'|trans }}
            </p>
            <ul class="fa-ul">
                <li>
                    <i class="far fa-folder fa-li"></i>
                    <code class="text-dark">01 - {{ 'docs.documentation.body.installation.step1'|trans }}:</code>
                    <ul class="fa-ul">
                        <li>
                            <i class="fa fa-angle-right fa-li"></i> <code>composer install</code>
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-li"></i> <code>php bin/console doctrine:database:create</code> ({{ 'docs.documentation.body.installation.database_create'|trans }})
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-li"></i> <code>php bin/console doctrine:migrations:diff</code>
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-li"></i> <code>php bin/console doctrine:migrations:migrate</code>
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-li"></i> <code>php bin/console secrets:generate-keys</code>
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-li"></i> <code>php bin/console doctrine:fixtures:load</code> ({{ 'docs.documentation.body.installation.load_fixtures'|trans }})
                        </li>
                    </ul>
                </li>
                <li>
                    <i class="far fa-folder fa-li"></i>
                    <code class="text-dark">02 - {{ 'docs.documentation.body.installation.step2'|trans }}:</code>
                    <ul class="fa-ul">
                        <li>
                            <i class="fa fa-angle-right fa-li"></i> {{ 'docs.documentation.body.installation.change_env_1'|trans }} <code>.env</code>, {{ 'docs.documentation.body.installation.change_env_2'|trans }} <code>prod</code>.
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-li"></i> {{ 'docs.documentation.body.installation.change_currency'|trans }} <code>.env</code>.
                        </li>
                        <li>
                            <i class="fa fa-angle-right fa-li"></i> {{ 'docs.documentation.body.installation.change_siteURL'|trans }} <code>.env</code>.
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- END Package -->

            <!-- Thank You -->
            <h2 id="section-thankyou">{{ 'docs.documentation.body.thanks.title'|trans }}</h2>
            <div class="alert alert-primary">
                <p class="mb-0">
                    {{ 'docs.documentation.body.thanks.text'|trans }}
                </p>
            </div>
            <p>
                <strong>{{ 'docs.documentation.body.thanks.salut'|trans }}</strong>
            </p>
            <!-- END Thank You -->
        </div>
        <!-- END Page Content -->

        <!-- Pixelcave Logo -->
        <div class="overflow-hidden py-6 bg-body-light text-center">
            <img class="img-fluid invisible"
                 src="{{ asset('dist/images/logo.jpg') }}"
                 alt="Uyiela logo" data-toggle="appear" data-class="animated fadeInDown"
                 style="width: 300px; height: 250px;">
        </div>
        <!-- END Pixelcave Logo -->
    </main>
    <!-- END Main Container -->

    <!-- Footer -->
    <footer id="page-footer">
        <div class="content content-full font-size-sm d-flex flex-column flex-sm-row justify-content-sm-between text-center text-sm-left">
            <div class="py-2 py-sm-0">
                <strong>Uyiela Docs</strong> &copy; <span data-toggle="year-copy"></span>
            </div>
            <div class="py-2 py-sm-0">
                {{ 'docs.documentation.body.footer.title_1'|trans }} <i class="fa fa-heart text-danger"></i> {{ 'docs.documentation.body.footer.title_2'|trans }} <a class="font-w600" href="">Yvano Berthol</a>
            </div>
        </div>
    </footer>
    <!-- END Footer -->
</div>
<!-- END Page Container -->

<!-- Docs JS -->
<script src="{{ asset('dist/docs/assets/js/pixelcave.docs.min.js') }}"></script>
</body>
</html>
