{% extends 'base.html.twig' %}

{% block title %}{{ 'productCategory.index.title'|trans({},'messages',app.session.get('_locale')) }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/responsive.bootstrap4.min.css') }}">
{% endblock %}

{% block javascripts %}
    {%  include 'partials/jsTable.html.twig' %}
    <script src="{{ asset('dist/js/datatable/sb-datatables-nobutton-'~app.session.get('_locale')~'.js') }}"></script>

    <script type="text/javascript">
        getDataTable($('#dataTable'));
    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-body">
                    <h5 class="mt-0 header-title">
                        {{ 'productCategory.index.block_title'|trans }} ({{ productCategories|length|formatedInt }})
                        <span class="triangle-border-left pull-left"></span>
                        <span class="triangle-border-right pull-right"></span>
                        {% if is_granted(permission_verify,'PRODUCT_CATEGORY_NEW') %}
                            <span class="pull-right">
                                <a class="btn btn-outline-uyblue" href="{{ path('product_category_new') }}">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </span>
                        {% endif %}
                    </h5>
                    <div class="table-responsive">
                        <table class="table" style="width: 100%;" id="dataTable">
                            <thead>
                                <tr>
                                    <th class="not-sort"></th>
                                    <th>{{ 'productCategory.index.tr_name'|trans }}</th>
                                    <th class="not-export not-sort">{{ 'productCategory.index.tr_actions'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for type in productCategories %}
                                <tr>
                                    <td>{{ type.id }}</td>
                                    <td>
                                        <a href="{{ path('product_index',{category: type.id}) }}">
                                            {{ type.name }} ({{ type.products.count|formatedInt }})
                                        </a>
                                    </td>
                                    <td>
                                        {% if is_granted(permission_verify,'PRODUCT_CATEGORY_EDIT') %}
                                        <a href="{{ path('product_category_edit',{'id': type.id}) }}" class="p-2 badge badge-uyblue">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        {% endif %}
                                        {% if is_granted(permission_verify,'PRODUCT_CATEGORY_DELETE') %}
                                        <a href="#deleteModal{{type.id}}" data-toggle="modal" class="p-2 badge badge-danger">
                                            <i class="fa fa-remove"></i>
                                        </a>

                                        <!-- Delete Modal -->
                                        <div class="modal fade" id="deleteModal{{type.id}}" tabindex="-1" role="dialog"
                                             aria-labelledby="deleteModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">{{ 'productCategory.index.modal.title'|trans }}</h5>
                                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">×</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        {{ 'productCategory.index.modal.body'|trans }}
                                                        <span class="text-info">{{ type.name }}</span>?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                                            {{ 'productCategory.index.modal.footer.cancel'|trans }}
                                                        </button>
                                                        <a class="btn btn-danger" href="{{path('product_category_delete',{'id':type.id})}}">
                                                            <i class="fa fa-trash"></i> {{ 'productCategory.index.modal.footer.delete'|trans }}
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
