{% extends 'base.html.twig' %}

{% block title %}{{ 'report.activity.title'|trans({},'messages',app.session.get('_locale')) }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/dataTables.searchHighlight.css') }}">
{% endblock %}

{% block javascripts %}
    {%  include 'partials/jsTable.html.twig' %}
    <script src="{{ asset('dist/js/datatable/sb-datatables-nobutton-'~app.session.get('_locale')~'.js') }}"></script>

    <script src="{{ asset('dist/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/bootstrap-datepicker/js/i18n/'~app.session.get('_locale')~'.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.datepicker').on('focus', function(e) {
                e.preventDefault();
                $(this).attr("autocomplete", "off");
            });
            $('.datepicker').datepicker({
                format: '{{ app.session.get('setting').dateMediumPicker }}',
                autoclose: true,
                calendarWeeks : true,
                clearBtn: false,
                disableTouchKeyboard: true,
                language: '{{ app.session.get('_locale') }}'
            });

            getDataTable($('#dataTable'),true,10,'rtip');

        });
    </script>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="mt-0 header-title">
                {{ 'report.activity.block_title'|trans }}
                <span class="triangle-border-left pull-left"></span>
                <span class="triangle-border-right pull-right ml-3"></span>
            </h5>
            <div class="row mb-3">
                <div class="col-md-12">
                    <form action="{{ path('report_activity') }}" method="post"
                          class="form-inline">
                        <input type="text" class="datepicker form-control mr-2 mb-1"
                               name="start" value="{{ start|mediumDate }}">
                        <input type="text" class="datepicker form-control mr-2 mb-1"
                               name="end" value="{{ end|mediumDate }}">
                        <button type="submit" name="search"
                                class="btn btn-outline-uyblue mr-2" >
                            <i class="fa fa-search"></i> {{ 'lb_search'|trans }}
                        </button>
                    </form>
                    {% if totalAmount > 0 %}
                    <form action="{{ path('report_activity') }}" method="post" target="_blank"
                          class="pull-right">
                        <input type="hidden" name="start" value="{{ start|mediumDate }}">
                        <input type="hidden" name="end" value="{{ end|mediumDate }}">
                        <button type="submit" name="print" value="print"
                                class="btn btn-success" >
                            <i class="fa fa-print"></i> {{ 'report.print'|trans }}
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="row title mt-5 mx-2">
                <div class="text-center col-sm-4 col-md-4 col-lg-4 col-xl-4 py-2 rounded">
                    <a href="{{path('home')}}" class="logo">
                        {{ render(path('imageLogo')) }}
                    </a><br>
                    <b>{{ store.name }}</b><br>
                    {% if store.phoneNumber is not empty %}
                        {{ 'report.phone'|trans }}: {{ store.phoneNumber }}
                    {% endif %}
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right offset-4">
                    {{ 'report.doThe'|trans }}  {{ "now"|mediumDate }} <br>
                    {{ 'report.agent'|trans }}: <span class="text-uppercase font-weight-bold">{{ app.user.name }}</span>
                </div>
            </div>
            <div class="row mt-3 mb-2">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <span class="h6 text-uppercase">
                        {{ 'report.reportSession'|trans }} /
                        <i>{{ 'report.activity.activityList'|trans }}</i>
                    </span>
                </div>
            </div>
            <div class="row mt-2 text-uppercase">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center py-2"
                     style="border-top: #0a0c0d solid 2px;border-bottom: #0a0c0d solid 2px" >
                    <span class="font-weight-bold">
                        {{ start|mediumDate }} - {{ end|mediumDate }}
                    </span>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table" style="width: 100%;" id="dataTable">
                    <thead>
                        <tr>
                            <th>{{ 'report.sale.tr_date'|trans }}</th>
                            <th>{{ 'report.sale.tr_nbSales'|trans }}</th>
                            <th>{{ 'report.sale.tr_amount'|trans }}</th>
                            {% if is_granted(permission_verify,'SALE_PROFIT') %}
                                <th>{{ 'report.sale.tr_profit'|trans }}</th>
                                <th>{{ 'report.sale.tr_profit_percent'|trans }}</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for sale in sales %}
                        <tr>
                            <td>
                                {{ sale.date|mediumDate }}
                            </td>
                            <td>{{ sale.nbSales|formated }}</td>
                            <td>{{ sale.amount|formated }}</td>
                            {% if is_granted(permission_verify,'SALE_PROFIT') %}
                                <td>{{ sale.profit|formated }}</td>
                                <td>
                                    {{ ((sale.profit * 100)/ sale.amount)|round(2) }}
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                    </tbody>
                    {% if totalAmount > 0%}
                        <tfoot>
                        <tr>
                            <td></td>
                            <td class="font-weight-bold">{{ nbSales|formated }}</td>
                            <td class="font-weight-bold">{{ totalAmount|customCurrency }}</td>
                            {% if is_granted(permission_verify,'SALE_PROFIT') %}
                                <td class="font-weight-bold">{{ profitAmount|customCurrency }}</td>
                                <td>
                                    {{ ((profitAmount * 100)/ totalAmount)|round(2) }}
                                </td>
                            {% endif %}
                        </tr>
                        </tfoot>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
