{% extends 'base.html.twig' %}

{% block title %}{{ 'report.attendance.title'|trans({},'messages',app.session.get('_locale')) }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/dataTables.searchHighlight.css') }}">
{% endblock %}

{% block javascripts %}
    {%  include 'partials/jsTable.html.twig' %}
    <script src="{{ asset('dist/js/datatable/sb-datatables-nobutton-'~app.session.get('_locale')~'.js') }}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            getDataTable($('#dataTable'),false,10,'rtip');
        });
    </script>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="mt-0 header-title">
                {{ 'report.attendance.block_title'|trans }}
                <span class="triangle-border-left pull-left"></span>
                <span class="triangle-border-right pull-right ml-3"></span>
            </h5>
            <div class="row mb-3">
                <div class="col-md-12">
                    <form action="{{ path('report_attendance') }}" method="post"
                          class="form-inline">
                        <select name="month" id="month" class="form-control mr-1 mb-1">
                            {% for key,month in months %}
                                <option value="{{ key }}" {% if key == monthNow %}selected{% endif %}>
                                    {{month|trans({},'month')}}
                                </option>
                            {% endfor %}
                        </select>
                        <input name="year" id="year" class="form-control mr-1 mb-1" value="{{ year }}">
                        <button type="submit" name="search"
                                class="btn btn-outline-uyblue mr-2" >
                            <i class="fa fa-search"></i> {{ 'performance.performanceStore.form.btn_search'|trans }}
                        </button>
                    </form>
                    {% if attendances|length > 0 %}
                        <form action="{{ path('report_attendance') }}" method="post" target="_blank"
                              class="pull-right">
                            <input type="hidden" name="month" value="{{ monthNow}}">
                            <input type="hidden" name="year" value="{{ year }}">
                            <button type="submit" name="print" value="print"
                                    class="btn btn-success" >
                                <i class="fa fa-print"></i> {{ 'report.print'|trans }}
                            </button>
                        </form>
                    {% endif %}
                </div>
            </div>
            <div class="row title mt-5 mx-2">
                <div class="text-center col-sm-4 col-md-4 col-lg-4 col-xl-4 py-2 rounded">
                    <a href="{{path('home')}}" class="logo">
                        {{ render(path('imageLogo')) }}
                    </a><br>
                    <b>{{ store.name }}</b><br>
                    {% if store.phoneNumber is not empty %}
                        {{ 'report.phone'|trans }}: {{ store.phoneNumber }}
                    {% endif %}
                </div>
                <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right offset-4">
                    {{ 'report.doThe'|trans }}  {{ "now"|mediumDate }} <br>
                    {{ 'report.agent'|trans }}: <span class="text-uppercase font-weight-bold">{{ app.user.name }}</span>
                </div>
            </div>
            <div class="row mt-3 mb-2">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <span class="h6 text-uppercase">
                        {{ 'report.reportSession'|trans }} /
                        <i>{{ 'report.attendance.attendanceList'|trans }}</i>
                    </span>
                </div>
            </div>
            <div class="row mt-2 text-uppercase">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center py-2"
                     style="border-top: #0a0c0d solid 2px;border-bottom: #0a0c0d solid 2px" >
                    <span class="font-weight-bold">
                        {{ months[monthNow]|trans({},'month')}} {{ year }}
                    </span>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table " style="width: 100%;" id="dataTable">
                    <thead>
                        <tr>
                            <td>{{ 'report.attendance.tr_employee'|trans}}</td>
                            <td>{{ 'report.attendance.tr_present'|trans }}</td>
                            <td>{{ 'report.attendance.tr_absent'|trans }}</td>
                            <td>{{ 'report.attendance.tr_late'|trans }}</td>
                            <td>{{ 'report.attendance.tr_holiday'|trans }}</td>
                            <td>{{ 'report.attendance.tr_leave'|trans}}</td>
                        </tr>
                    </thead>
                    <tbody>
                    {% for attendance in attendances %}
                        <tr>
                            <td>
                                <a href="{{ path('employee_attendance_index',
                                    {'id': attendance.id}) }}">
                                    {{ attendance.name }}
                                </a>
                            </td>
                            <td>
                                {{ attendance.presentCount|formated }}
                            </td>
                            <td>
                                {{ attendance.absentCount|formated }}
                            </td>
                            <td>
                                {{ attendance.lateCount|formated }}
                            </td>
                            <td>
                                {{ attendance.holidayCount|formated }}
                            </td>
                            <td>
                                {{ attendance.leaveCount|formated }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
