{% extends 'base.html.twig' %}

{% block title %}{{ 'report.expense.title'|trans({},'messages',app.session.get('_locale')) }}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/dataTables.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/buttons.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/responsive.bootstrap4.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/datatables/dataTables.searchHighlight.css') }}">
    <link rel="stylesheet" href="{{ asset('dist/plugins/select2/dist/css/select2.min.css') }}">
{% endblock %}

{% block javascripts %}
    {%  include 'partials/jsTable.html.twig' %}
    <script src="{{ asset('dist/js/datatable/sb-datatables-nobutton-'~app.session.get('_locale')~'.js') }}"></script>

    <script src="{{ asset('dist/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/bootstrap-datepicker/js/i18n/'~app.session.get('_locale')~'.js') }}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.datepicker').on('focus', function(e) {
                e.preventDefault();
                $(this).attr("autocomplete", "off");
            });
            $('.datepicker').datepicker({
                format: '{{ app.session.get('setting').dateMediumPicker }}',
                autoclose: true,
                calendarWeeks : true,
                clearBtn: false,
                disableTouchKeyboard: true,
                language: "{{ app.session.get('_locale') }}"
            });

            getDataTable($('#dataTable'),true,10,'rtip');

        });
    </script>

    <script src="{{ asset('dist/plugins/select2/dist/js/select2.min.js') }}"></script>
    <script src="{{ asset('dist/plugins/select2/dist/js/i18n/'~app.session.get('_locale')~'.js') }}"></script>
    <script>
        let type = $('#type');

        type.select2({
            formatSelectionCssClass: function (data, container) {
                return "mySelect2";
            },
            placeholder: "{{ 'report.expense.select_type'|trans }}",
            allowClear: true,
            language: "{{ app.session.get('_locale') }}",
        });
        type.val([]).trigger('change');

        {% if type is defined %}
        type.val({% if type is not empty %}{{ type.id }}{% else %}0{% endif %}).trigger('change');
        {% else %}
        type.val([]).trigger('change');
        {% endif %}


    </script>
{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="mt-0 header-title">
                {{ 'report.expense.block_title'|trans }}
                <span class="triangle-border-left pull-left"></span>
                <span class="triangle-border-right pull-right ml-3"></span>
            </h5>
            <div class="row mb-3">
                <div class="col-md-12">
                    <form action="{{ path('report_expense') }}" method="post"
                          class="form-inline">
                        <select class="mr-1 my-1 select2 mr-2" required style="width: 30%!important;"
                                name="type" id="type">
                            <option value="0">{{ 'report.expense.all_type'|trans }}</option>
                            {% for type in types  %}
                                <option value="{{ type.id }}">
                                    {{ type.name }}
                                </option>
                            {% endfor %}
                        </select>
                        <input type="text" class="datepicker form-control ml-2 mr-2 mb-1"
                               name="start" value="{{ start|mediumDate }}" style="width: 15%!important;">
                        <input type="text" class="datepicker form-control mr-2 mb-1"
                               name="end" value="{{ end|mediumDate }}" style="width: 15%!important;">
                        <button type="submit" name="search"
                                class="btn btn-outline-uyblue mr-2" >
                            <i class="fa fa-search"></i> {{ 'performance.performanceStore.form.btn_search'|trans }}
                        </button>
                    </form>
                    {% if type is defined %}
                        {% if expenses is not empty %}
                            <form action="{{ path('report_expense') }}" method="post" target="_blank"
                                  class="pull-right">
                                <input type="hidden" name="start" value="{{ start|mediumDate }}">
                                <input type="hidden" name="end" value="{{ end|mediumDate }}">
                                <input type="hidden" name="type"
                                       value="{% if type is not empty %}{{ type.id }}{% else %}0{% endif %}">
                                <button type="submit" name="print" value="print"
                                        class="btn btn-success" >
                                    <i class="fa fa-print"></i> {{ 'report.print'|trans }}
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if type is defined %}
                <div class="row title mt-5 mx-2">
                    <div class="text-center col-sm-4 col-md-4 col-lg-4 col-xl-4 py-2 rounded">
                        <a href="{{path('home')}}" class="logo">
                            {{ render(path('imageLogo')) }}
                        </a><br>
                        <b>{{ store.name }}</b><br>
                        {% if store.phoneNumber is not empty %}
                            {{ 'report.phone'|trans }}: {{ store.phoneNumber }}
                        {% endif %}
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 text-right offset-4">
                        {{ 'report.doThe'|trans }}  {{ "now"|mediumDate }} <br>
                        {{ 'report.agent'|trans }}: <span class="text-uppercase font-weight-bold">{{ app.user.name }}</span>
                    </div>
                </div>
                <div class="row mt-3 mb-2">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center">
                    <span class="h6 text-uppercase">
                        {{ 'report.reportSession'|trans }} /
                        <i>
                            {{ 'report.expense.expenseDetail'|trans }}
                            {% if type is not empty %}
                                <b>{{ type.name }}</b>
                            {% endif %}
                        </i>
                    </span>
                    </div>
                </div>
                <div class="row mt-2 text-uppercase">
                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center py-2"
                         style="border-top: #0a0c0d solid 2px;border-bottom: #0a0c0d solid 2px" >
                    <span class="font-weight-bold">
                        {{ start|mediumDate }} - {{ end|mediumDate }}
                    </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                        <table class="table table-bordered mb-5 " style="width: 100%;" id="dataTable">
                            <thead>
                                <tr>
                                    <th class="not-sort">{{ 'report.expense.tr_name'|trans}}</th>
                                    <th class="not-sort">{{ 'report.expense.tr_date'|trans}}</th>
                                    <th class="not-sort">{{ 'report.expense.tr_type'|trans}}</th>
                                    <th class="not-sort">{{ 'report.expense.tr_paymentMethod'|trans}}</th>
                                    <th class="not-sort">{{ 'report.expense.tr_amount'|trans }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for expense in expenses|sort((a,b) => a.date <=> b.date)|reverse  %}
                                    <tr>
                                        <td>
                                            {{ expense.name }}
                                        </td>
                                        <td>
                                            {{ expense.date|mediumDate }}
                                        </td>
                                        <td>
                                            {{ expense.type.name}}
                                        </td>
                                        <td>
                                            {{ expense.paymentMethod.name }}
                                        </td>
                                        <td>
                                            {{ expense.amount|formated }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr style="font-weight: bold">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ totalAmount|customCurrency }}</td>
                                </tr>
                            </tfoot>
                        </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
